nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
  background-color: beige;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul li {
  float: left;
}

li a {
  display: block;
  font-size: 20px;
  padding: 15px 15px;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.modeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 900px;
  margin: 150px auto;
}

.selectMode {
  display: flex;
  justify-content: right;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  width: 100%;
  height: 20px;
}

.mode {
  display: table-cell;
  cursor: pointer;
  border-left: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  text-align: center;
}

.mode:hover {   /* 마우스 올렸을 때 버튼 */
  background-color: aliceblue;
}

.mode:active {
  box-shadow: 2px 2px 4px Darkgray inset;   /* 클릭했을 때 버튼 눌리는 효과 */
}

.window {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  position: relative;
  width: 900px;
  height: 600px;
}

.window::after {  /* 가상 요소 */
  width: 100%;
  height: 100%;
  content: "";
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.mapImage {
  width: 900px;
  height: auto;
  z-index: -2;
}

.countryButton {
  position: absolute;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
}

.countryButton:hover {
  background-color: aliceblue;
  box-shadow: 1px 1px 0.5px black;
  border-radius: 2px;
}

.countryButton:active {
  box-shadow: 2px 2px 1px Darkgray inset;
}

#chart_div {
  margin: 150px auto;
}

.flagImage {
  object-fit: cover;
  /* margin: 5px; */
  margin: 0; /* 마진 제거 */
  border-radius: 50%; /* 동그라미 자르기 */
  position: absolute; /* 절대 위치 지정 */
  cursor: pointer;
}

.flagImage:hover {
  border: 2px solid blue;
}

.flagImage:hover::after { /* 마우스 올렸을 때 툴팁 */
  content: attr(alt);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 3px;
  white-space: nowrap;
}

/* 로그인 부분 */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 450px;
  margin: 150px auto;
}

.id {
  width: 250px;
  height: 30px;
  margin: 10px;
}

.pw {
  width: 250px;
  height: 30px;
  margin: 10px;
}

.loginButton {
  width: 150px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.bottomText {
  margin: 10px;
}

.IDcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 500px;
  height: 400px;
  margin: 150px auto;
}
